ipykernel
notebook
pylibdmtx
Pillow
numpy
timm
albumentations
torch
matplotlib
ppf-datamatrix
pandas
lightning==2.0.2
pytorch-lightning==2.0.2
PyYAML
segmentation-models-pytorch
wandb
plotly
lovely-numpy
lovely-tensors
