ipykernel
notebook
pylibdmtx
Pillow
numpy==1.26.2
timm
albumentations
torch==2.0.1
matplotlib
ppf-datamatrix
pandas==2.2.0
lightning==2.0.2
pytorch-lightning==2.0.2
PyYAML
segmentation-models-pytorch
wandb
plotly
lovely-numpy
lovely-tensors
datasets
tqdm
onnx
onnxruntime
onnxruntime-gpu
typer
